[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EFPList/lib/forge-std"]
	path = EFPList/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EFPListRecords/lib/forge-std"]
	path = EFPListRecords/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
